services:
  oracle:
    image: container-registry.oracle.com/database/free:23.9.0.0
    ports:
      - 1521:1521
    environment:
      - ORACLE_PWD=changeOnInstall
    volumes:
      - ./01_setup/init:/opt/oracle/scripts/startup