services:
  oracle:
    image: docker.io/gvenzl/oracle-free:23.26.0
    ports:
      - 1521:1521
    environment:
      - ORACLE_PASSWORD=changeOnInstall
    volumes:
      - ./01_setup/init:/container-entrypoint-initdb.d